<link rel="stylesheet" href="../src/css/main.css">

<div class="content custom-font bg-light align-med">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-12 align-items-center justify-content-center vh-100">
      <div class="col col-lg-7 h-100 px-3 py-5">
        <div class="box d-flex align-items-center justify-content-center">
          <div>
            <h2>메인페이지</h2>
            <h5>메인페이지의 이 부분은 개인이 설정 가능합니다</h5>
            <h5>설정 여하에 따라 자유롭게 바뀌기 때문에</h5>
            <h5>알파 체험에서는 기능이 제공되지 않습니다</h5>
          </div>
        </div>
      </div>
      <div class="col col-lg-5 h-100 px-3 py-5 rightpage">
        <div class="square">
          <div id="imgslide" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active"> <img src="../src/img/tmp/1.jpg" class="d-block w-100 slideimg"> </div>
              <div class="carousel-item"> <img src="../src/img/tmp/2.jpg" class="d-block w-100 slideimg"> </div>
              <div class="carousel-item"> <img src="../src/img/tmp/3.jpg" class="d-block w-100 slideimg"> </div>
              <div class="carousel-item"> <img src="../src/img/tmp/4.jpg" class="d-block w-100 slideimg"> </div>
              <div class="carousel-item"> <img src="../src/img/tmp/5.jpg" class="d-block w-100 slideimg"> </div>
            </div>

            <button class="carousel-control-prev" data-bs-target="#imgslide" data-bs-slide="prev"> <span class="carousel-control-prev-icon"></span> </button>
            <button class="carousel-control-next" data-bs-target="#imgslide" data-bs-slide="next"> <span class="carousel-control-next-icon"></span> </button>
          </div>
        </div>
        <div class="squareleft mt-4 p-3">
          <h2 class="mb-4">공지사항</h2>
          <button class="btn-primary notice mb-2">아름인 알파 체험 시작</button>
          <button class="btn-primary notice mb-2">접속가능시간은 아침8시~새벽2시입니다</button>
          <button class="btn-primary notice mb-2">3번 뽑아주세요 >_< </button>
          <button class="btn-primary notice mb-2">-전날까지 유사밤샘한 개발진 올림-</button>

        </div>
      </div>
    </div>
  </div>
</div>