<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>아름in - 회원가입</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- My CSS -->
        <link rel="stylesheet" href="../src/css/register.css">
        <link rel="stylesheet" href="../src/lib/library.css">
        <link rel="stylesheet" href="../src/lib/bootstrap.min.css">
    </head>

    <body class="h-100 bodyalign p-3">
        <div class="register-box custom-font mb-5">
            <div class="d-flex justify-content-center mb-5">
                <img src="../src/img/areumin-logo.png" alt="logo" class="logo">
                <img src="../src/img/title_black.png" alt="logo" class="logo">
            </div>
            <form action="/auth/register" method="POST" class="mt-5">
                <input type="text"     class="register input" autocomplete="off" placeholder="학번 / Student number" name="id">
                <input type="text"     class="register input mb-3" autocomplete="off" placeholder="이름 / Name" name="name">
                <input type="password" class="register input" autocomplete="off" placeholder="비밀번호 / Password" name="pw">
                <input type="password" class="register input mb-3" autocomplete="off" placeholder="비밀번호 확인 / Password Confirm" name="pw2">
                <input type="text"     class="register input" autocomplete="off" placeholder="이메일 / E-mail" name="email">
                <input type="text"     class="register input" autocomplete="off" placeholder="인증키 / Auth key" name="code">
                <button class="register button">회원가입하기</button>
            </form>
        </div>
        
        <!-- Bootstrap JS -->
        <script src="../src/lib/bootstrap.bundle.min.js"></script>
        <script src="../src/lib/bootstrap.min.js"></script>
    </body>
</html>