<!DOCTYPE html>
<html lang="ko">

<head>
    <title>아름in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- My CSS -->
    <link rel="stylesheet" href="../src/css/wrapper.css">
    <link rel="stylesheet" href="../src/lib/library.css">
    <link rel="stylesheet" href="../src/lib/bootstrap.min.css">
</head>

<body class="bodyalign bg-light custom-font">
    <div id="sidebar" class="bg-colored p-4">
        <div class="top-down">
            <div class="w-100 mb-5 logo">
                <img src="../src/img/areumin-logo.png" alt="areumin" class="logo logoborder float-start">
                <img src="../src/img/title_white.png" alt="areumin" class="logo float-end">
            </div>

            <div class="buttonwrap">
                <button class="sidebar-btn bg-white" onClick="tolink('main')"> <img src="../src/img/icon/home.png" alt="" class="float-start">메인</button>

                <button class="sidebar-btn bg-white" onClick="tolink('meal')"> <img src="../src/img/icon/meal.png" alt="" class="float-start">급식</button>
                <button class="sidebar-btn bg-white" onClick="tolink('time')"> <img src="../src/img/icon/clock.png" alt="" class="float-start">시간표</button>
                <button class="sidebar-btn bg-white" onClick="tolink('shop')"> <img src="../src/img/icon/store.png" alt="" class="float-start">제휴</button>
                
                <button class="sidebar-btn bg-white" onClick="tolink('calendar')"> <img src="../src/img/icon/plan.png" alt="" class="float-start">학사일정</button><!--
                <button class="sidebar-btn bg-white" onClick="tolink('test')"> <img src="../src/img/icon/pencil.png" alt="" class="float-start">시험/수행</button>
                -->
            </div>
        </div>
        
        <div class="bottom-up p-4">
            <div class="dropdown">
                <button class="dropbtn"> 추가 메뉴</button>
                <div class="dropdown-content">
                    <a href="대포뽑기-프로그램-링크는-여기로">대포뽑기</a>
                    <a href="#">추가 예정</a>
                    <a href="#">추가 예정</a>
                </div>
            </div>
        </div>

    </div>
    <div class="floating" onclick="func()"><img id="menuicon" src="../src/img/icon/menu.png" alt="" class="img-fluid h-100 p-2"></div>
    <div id="curtain"></div>
    <div id="content">
        <%- include(linkto) %>
    </div>
    

    <!-- Bootstrap JS -->
    <script src="../src/lib/bootstrap.bundle.min.js"></script>
    <script src="../src/lib/bootstrap.min.js"></script>
    <script>
        function tolink(linkto){ location.href = linkto; }
    
        function func(){
            var query = matchMedia("screen and (min-width: 1200px)");
            var check = document.getElementById('sidebar');
    
            if(window.getComputedStyle(check).left == '-300px'){
                document.getElementById('sidebar').style.left = "0px";
                
                if(query.matches) { document.getElementById('curtain').style.display = "none"; document.getElementById('content').style.paddingLeft = "300px"; }
                else              { document.getElementById('curtain').style.display = "block"; }
            }
            if(window.getComputedStyle(check).left == '0px'){
                document.getElementById('sidebar').style.left = "-300px";
                document.getElementById('curtain').style.display = "none";
                document.getElementById('content').style.paddingLeft = "0px";
            }
        }
    </script>
</body>
</html>