.width-100{
    width: 100%;
}

.height-100{
    height: 100%;
}

.calendar {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.YMtitle{
    font-size: 2em !important;
    font-family: 'jalnan';
}

.calendar div div div button{
    font-family: 'wa-sans';
}

.calendar div div div button:enabled{
    background-color: rgb(103, 132, 226) !important;
    border: hidden !important;
    opacity: 1 !important;
}

.calendar div div div button:disabled{
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
}

.calendar div div div table thead tr td div div table tbody tr th div a{
    font-family: 'wa-sans';
    color: black !important;
}

.calendar div div div table tbody tr td div div div table tbody tr td div div a{
    font-family: 'wa-sans';
    color: darkgray !important;
}

@media screen and (max-width: 996px) {
    .calendar{ height: 600px; }
    .YMtitle{ font-size: 1.5rem !important; }
    .btn-reset{ display: none !important; }
}

@media screen and (max-width: 768px) {
    .calendar{ height: 550px; }
}