.bodyalign{
    display: flex;
    align-items: center;
}

.smallbox{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.box{
    margin: 0 auto;
    padding: 2rem;
    height: 500px;
    width: 100%;
}

.sizer{
    width: 480px;
    margin: auto 0;
}

@media screen and (max-width: 992px){
    .sizer{
        width: 100%;
        margin: 0;
    }
  }

/**************** 기존 소스 *****************/

.widescreen{
    position: absolute;
    left: 0%;
    height: 600px;
    width: 300%;
    transition: .5s;
}

.bodyalign{
    display: flex;
    align-items: center;
}

.title{
	top: 2rem;
	left: 2rem;
	display: inline;
    width: max-content;
	float: left;
}



.mybtn{
    height: 50px;
    width: 50px;
    border-radius: 1rem;
}

.step{
    height: 500px;
    width: 400px;
    border-radius: 2.5rem;
    overflow: hidden;
}

.obj{
    height: 50px;
    border-radius: 1rem;
}

.ml{
    margin-left: .5rem;
}

.mr{
    margin-right: .5rem;
}

.input{
    border: none;
    background: #f1f1f1;
    color: black;
    vertical-align: middle;
}

.fit{
    max-height: 100%;
    width: auto;
}

.rev{
    transform: scaleX(-1);
}

.input:focus{
    outline: none;
}

.wh-auto{
    height: max-content !important;
    width: max-content !important;
}

.cambox{
    width: 100%;
}

.cambox video{
    width: 100%;
    border-radius: 0.5rem;
}

.cambox canvas{
    width: 100%;
    border-radius: 0.5rem;
}

.mard{
    margin: 3rem !important;
}

.camclose{
    z-index: 999;
}


canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-width: 968px){
    .mard{
        margin: 1rem !important;
    }
}