
#sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  transition: .5s;
  z-index: 5;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#sidebar::-webkit-scrollbar{
  display: none;
}

.toppadd{
  margin-top: 1rem;
}

#floating{
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  background-color: rgb(103, 132, 226);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
}

#content{
  padding-left: 300px;
  transition: 0.5s;
}

#curtain{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .7;
  z-index: 4;
  transition: 0.5s;
}

.boxsize{
  max-width: 1540px;
}

@media screen and (max-width: 1200px){
  #sidebar{
    left: -300px;
  }
  #content{
    padding-left: 0px;
  }
  #curtain{
    display: none;
  }
  .toppadd{
    margin-top: 0;
  }
  #floating{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.80rem;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}