<link rel="stylesheet" href="../src/css/calendar.css">
<link rel="stylesheet" href="../src/lib/fullcalendar.css">
<script src='../src/lib/fullcalendar.js'></script>
<script src="../src/js/calendar.js"></script>

<div class="container min-vh-100 padd d-flex">
	<div class="r3 border-a bg-white align-self-center width-100">
		<div class="calendar p-4">
			<div id="calendar"></div>
		</div>
	</div>
</div>

<script>init()</script>
<script>makestyle()</script>